@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-active-button {
  @apply font-semibold text-white transition duration-300 bg-aqua rounded-3xl hover:bg-aqua-dark;
}

.primary-disabled-button {
  @apply font-semibold text-white transition duration-300 bg-gray-400 rounded-3xl;
}

textarea:focus,
input:focus {
  outline: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
