:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20rem;
    min-height: 100vh;
}

main {
    padding: 36px;
    flex-grow: 1;
    background: white;
}

.container {
    height: auto;
    width: 34rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden; 
}

.header {
    background: linear-gradient(to bottom right, #672280, #a626d3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.5rem;
    flex-grow: 0;
    width: 60%;
}

.header-title > img {
    width: 8%;
    margin-left: 0.5rem;
}

.header-title > h2 {
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.header-description {
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-left: 1rem;
    flex-grow: 1; 
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form-input {
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1px solid #d5d4d8;
    text-indent: 5px;
    color: black;
    background: white;
}

.form-button {
    grid-column: 1 / -1;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #672280, #a626d3);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    grid-column: 1 / -1;
    position: relative;
}

.meme-image {
    width: 100%;
    border-radius: 5px;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}