* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container > * {
    width: 100%;
}

.navbar {
    font-size: 2rem;
    display: flex;
    padding: 1rem;
    background-color: #f55a5a;
    justify-content: center;
    align-items: center;
}

.navbar > span {
    margin-left: 1rem;
}

.footer {
    margin-top: auto;
    padding: 2rem;
    background-color: #f55a5a;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    width: 80%;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-wrapper > hr {
    width: 95%;
    margin: 1rem 0 1.5rem 0;
}

.card > img {
    height: 100%;
    /* width: 20vw; */
    width: 20em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 1em;

    transform: scale(1);
    transition: all 650ms ease-in-out;
}

.card-details {
    padding: 1rem;
}

.card-list {
    height: 100%;
    padding: 2rem;
}

.card-details > h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.card-details > h3 {
    padding-bottom: 1rem;
}

.card-details > p {
    font-weight: 100;
}

.card-location {
    padding-bottom: 0.5rem;
}

.card-location-icon {
    color: #f55a5a;
    padding-right: 0.2rem;
}

.card-location-name {
    padding-right: 0.5rem;
    font-weight: 600;
}

.card-location > a {
    color: wheat;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card-wrapper {
        align-items: center;
    }

    .card > img {
        width: 100%;
        margin-left: 1rem;
    }

    .card-details {
        margin: 1em 0 0 0;
        padding: 1rem;
    }
}
