* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #23252c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 317px;
    height: 780px;
    background-color: #1a1b21;
    border-radius: 15px;
}

.profile-image {
    border-radius: 15px 15px 0px 0px; /* Top-left, top-right, bottom-right, bottom-left */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
}

.main-section > h2 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.main-section > p {
    font-weight: 100;
    font-size: 0.8rem;
}

.main-name {
    margin-top: 0.5rem;
    font-weight: 100;
}

.main-job {
    font-weight: 500;
    color: rgb(196, 127, 0);
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.main-email {
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.main-contacts {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.main-contacts > button {
    width: 115px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    font-size: 14px;
    gap: 9.6px;
    border-radius: 6px;
}

.main-contacts > .linkedin-btn {
    background-color: #5093e2;
    color: white;
    border: none;
}

.main-contacts > .email-btn {
    background-color: white;
    color: #1e1f26;
    border: 1px solid #d1d5db;
}

.footer {
    background-color: #161619;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 0px 0px 10px 10px;
    flex-grow: 1;
    list-style: none;
}

.footer > li {
    font-size: 2.5rem;
    color: gray;
}
